{% block content %}
<div class="diary-detail container">
    <h1>일기 상세</h1>
    <div class="card">
        <div class="card-header">
            <strong>날짜:</strong> {{ diary.diary_date }}
            <strong>기분:</strong> {{ diary.get_mood_display }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ diary.summary }}</h5>
            <p class="card-text">{{ diary.content }}</p>

            {% if diary.image_url_1 or diary.image_url_2 or diary.image_url_3 %}
            <div class="diary-images mt-3">
                {% if diary.image_url_1 %}<img src="{{ diary.image_url_1 }}" class="img-fluid mr-2">{% endif %}
                {% if diary.image_url_2 %}<img src="{{ diary.image_url_2 }}" class="img-fluid mr-2">{% endif %}
                {% if diary.image_url_3 %}<img src="{{ diary.image_url_3 }}" class="img-fluid">{% endif %}
            </div>
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{% url 'diary-list' %}" class="btn btn-secondary">목록으로</a>
        </div>
    </div>
</div>
{% endblock %}